<!DOCTYPE html>
<html>
{% include '@pages/default/header.html.twig' %}
<br/><br/>
    <div class="container">
<div class="sm-8" align="center">
    <img src="img/logo.png"><br/>
    <h5>Retrouvez ici tous les animés que nous avons en stock et qui sont à votre disposition</h5><br/>
</div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/onePi.jpg" class="card-img-top" alt="onepi_img">
                <div class="card-body">
                    <h2 class="card-title">Arc Tougato</h2>
                    <p class="card-text">
                        Retrouver cet arc épique de One piece
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/one.jpg" class="card-img-top" alt="onePunch_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison 2 de one punch man
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/mob.jpg" class="card-img-top" alt="mobPsycho_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison2 de Mob psycho
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/onePi.jpg" class="card-img-top" alt="onepi_img">
                <div class="card-body">
                    <h2 class="card-title">Arc Tougato</h2>
                    <p class="card-text">
                        Retrouver cet arc épique de One piece
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/one.jpg" class="card-img-top" alt="onePunch_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison 2 de one punch man
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/mob.jpg" class="card-img-top" alt="mobPsycho_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison2 de Mob psycho
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/onePi.jpg" class="card-img-top" alt="onepi_img">
                <div class="card-body">
                    <h2 class="card-title">Arc Tougato</h2>
                    <p class="card-text">
                        Retrouver cet arc épique de One piece
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/one.jpg" class="card-img-top" alt="onePunch_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison 2 de one punch man
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="img/mob.jpg" class="card-img-top" alt="mobPsycho_img">
                <div class="card-body">
                    <h2 class="card-title">Saison 2</h2>
                    <p class="card-text">
                        Retrouver la saison2 de Mob psycho
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('visionnage')}}" class="btn btn-primary btn-sm">Visionner</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    </div>
{% include '@pages/default/footer.html.twig' %}